<h1 class="text-center text-9xl text-[#0000F4]">
	Gia's Emerson Application Simulator
</h1>


<div class="flex content-center justify-center">
	<a href="/misc/gias-emerson-simulator/yes" class="btn btn-primary">
		<button>
			Press Me
		</button>
	</a>
</div>