---
import GradientHeader from '../../components/gradientHeader.svelte';
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Research">
	<GradientHeader title="Research" client:load />
	<hr>
	<h3 class="text-center p-4 dark:text-white">
		This is where I will post any research that I conduct.
	</h3>
	<hr>
	<h3 class="text-center p-4">
		<a href="/research/climate-change">The Ineffectiveness of Climate Change Policies in the United States</a>
	</h3>
</Layout>