---
import BsAlert from "../../components/bsAlert.svelte";
import Layout from "../../layouts/Layout.astro";
import SignUpForm from '../../components/freelance/signUpForm'
---

<Layout title="Get Started | Freelance" description="Start an inquiry about my freelance web design servies">
		<h1 class="p-10 text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold">Get Started</h1>
		<div class="px-4">
			<BsAlert type="primary" text="All frelance work is subject to my pricing, and I have the right to turn down any project at any time, with or without a reason" actionLink="/freelance/pricing" actionText="View Pricing" icon="megaphone-fill" client:idle  />
		</div>
		<div class="p-4">
			<hr class="">
		</div>
		<SignUpForm client:idle />
</Layout>