---
import FreelanceLayout from "../../layouts/freelanceLayout.astro";

---

<FreelanceLayout title="Get Started | Freelance" description="Start an inquiry about our freelance web design servies">
		<h1 class="pt-10 text-3xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold">Get Started</h1>
		<p>ALl frelance work is subject to <a href="/freelance/pricing">our pricing</a>, and we have the right to turn down any project at any time, with or without a reason</p>
		<hr>
</FreelanceLayout>