$prefix: "ry-";
$primary: #645faaff;
$secondary: #0089cfff;
$info: mix($primary, $secondary);
$tertiary: #c9234aff;
$red: #c9234aff;
$yellow: #fdb913ff;
$orange: #f36f21ff;
$purple: #645faaff;
$blue: #0089cfff;
$green: #0db14bff;
$info: lighten($blue, 10%);
$success: lighten($green, 10%);
$warning: lighten($yellow, 10%);
$danger: lighten($red, 10%);
$dark: darken($secondary, 10%);


@media (prefers-color-scheme: dark) {
	* {
		color: white
	}
}


@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';


pre, code {
	span {
		font-family: 'JetBrains Mono', monospace;
	}
}


table {
		// Reset needed for nesting tables
		--#{$prefix}table-color-type: initial;
		--#{$prefix}table-bg-type: initial;
		--#{$prefix}table-color-state: initial;
		--#{$prefix}table-bg-state: initial;
		// End of reset
		--#{$prefix}table-color: #{$table-color};
		--#{$prefix}table-bg: #{$table-bg};
		--#{$prefix}table-border-color: #{$table-border-color};
		--#{$prefix}table-accent-bg: #{$table-accent-bg};
		--#{$prefix}table-striped-color: #{$table-striped-color};
		--#{$prefix}table-striped-bg: #{$table-striped-bg};
		--#{$prefix}table-active-color: #{$table-active-color};
		--#{$prefix}table-active-bg: #{$table-active-bg};
		--#{$prefix}table-hover-color: #{$table-hover-color};
		--#{$prefix}table-hover-bg: #{$table-hover-bg};
		
		width: 100%;
		margin-bottom: $spacer;
		vertical-align: $table-cell-vertical-align;
		border-color: var(--#{$prefix}table-border-color);
		
		// Target th & td
		// We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
		// We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
		// Another advantage is that this generates less code and makes the selector less specific making it easier to override.
		// stylelint-disable-next-line selector-max-universal
		> :not(caption) > * > * {
			padding: $table-cell-padding-y $table-cell-padding-x;
			// Following the precept of cascades: https://codepen.io/miriamsuzanne/full/vYNgodb
			color: var(--#{$prefix}table-color-state, var(--#{$prefix}table-color-type, var(--#{$prefix}table-color)));
			background-color: var(--#{$prefix}table-bg);
			border-bottom-width: $table-border-width;
			box-shadow: inset 0 0 0 9999px var(--#{$prefix}table-bg-state, var(--#{$prefix}table-bg-type, var(--#{$prefix}table-accent-bg)));
		}
		> tbody {
			vertical-align: inherit;
		}
		
		> thead {
			vertical-align: bottom;
		}
		> tbody > tr:nth-of-type(#{$table-striped-order}) > * {
			--#{$prefix}table-color-type: var(--#{$prefix}table-striped-color);
			--#{$prefix}table-bg-type: var(--#{$prefix}table-striped-bg);
		}
		> :not(caption) > * {
			border-width: $table-border-width 0;
		
			> * {
			  border-width: 0 $table-border-width;
			}
		  }
}