@use "sass:color";
$prefix: "ry-";
$primary: hsl(219, 100%, 51%);
$secondary: #03AAFF;
$primary-dark: #66b3ff;
$white: #ffffff;
$info: color.mix($primary, $secondary);
$tertiary: hsl(26, 100%, 61%);
$red: #c9234aff;
$yellow: #fdb913ff;
$orange: #f36f21ff;
$purple: #645faaff;
$blue: #0089cfff;
$green: #0db14bff;
$info: color.adjust($blue, $lightness: 10%);
$success: color.adjust($green, $lightness: 10%);
$warning: color.adjust($yellow, $lightness: 10%);
$danger: color.adjust($red, $lightness: 10%);
$dark: color.adjust($secondary, $lightness: -10%);




@use '../../node_modules/bootstrap/scss/bootstrap-reboot' as bs;


pre, code {
	span {
		font-family: 'JetBrains Mono', monospace;
	}
}


table {
		// Reset needed for nesting tables
		--#{$prefix}table-color-type: initial;
		--#{$prefix}table-bg-type: initial;
		--#{$prefix}table-color-state: initial;
		--#{$prefix}table-bg-state: initial;
		// End of reset
		--#{$prefix}table-color: #{bs.$table-color};
		--#{$prefix}table-bg: #{bs.$table-bg};
		--#{$prefix}table-border-color: #{bs.$table-border-color};
		--#{$prefix}table-accent-bg: #{bs.$table-accent-bg};
		--#{$prefix}table-striped-color: #{bs.$table-striped-color};
		--#{$prefix}table-striped-bg: #{bs.$table-striped-bg};
		--#{$prefix}table-active-color: #{bs.$table-active-color};
		--#{$prefix}table-active-bg: #{bs.$table-active-bg};
		--#{$prefix}table-hover-color: #{bs.$table-hover-color};
		--#{$prefix}table-hover-bg: #{bs.$table-hover-bg};
		
		width: 100%;
		margin-bottom: bs.$spacer;
		vertical-align: bs.$table-cell-vertical-align;
		border-color: var(--#{$prefix}table-border-color);
		
		// Target th & td
		// We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
		// We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
		// Another advantage is that this generates less code and makes the selector less specific making it easier to override.
		// stylelint-disable-next-line selector-max-universal
		> :not(caption) > * > * {
			padding: bs.$table-cell-padding-y bs.$table-cell-padding-x;
			// Following the precept of cascades: https://codepen.io/miriamsuzanne/full/vYNgodb
			color: var(--#{$prefix}table-color-state, var(--#{$prefix}table-color-type, var(--#{$prefix}table-color)));
			background-color: var(--#{$prefix}table-bg);
			border-bottom-width: bs.$table-border-width;
			box-shadow: inset 0 0 0 9999px var(--#{$prefix}table-bg-state, var(--#{$prefix}table-bg-type, var(--#{$prefix}table-accent-bg)));
		}
		> tbody {
			vertical-align: inherit;
		}
		
		> thead {
			vertical-align: bottom;
		}
		> tbody > tr:nth-of-type(#{bs.$table-striped-order}) > * {
			--#{$prefix}table-color-type: var(--#{$prefix}table-striped-color);
			--#{$prefix}table-bg-type: var(--#{$prefix}table-striped-bg);
		}
		> :not(caption) > * {
			border-width: bs.$table-border-width 0;
		
						> * {
							border-width: 0 bs.$table-border-width;
						}
		  }
}

blockquote {
    padding: 0;
    padding-inline-start: 16px;
    margin: -10px -10px 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    border-inline-start: 2px solid $primary !important;
}

@media (prefers-color-scheme: dark) {
    blockquote {
        padding: 0;
        padding-inline-start: 16px;
        margin: -10px -10px 20px;
        padding: 10px;
        border-radius: 5px;
        max-width: 100%;
        height: auto;
		border-inline-start: 2px solid $primary-dark !important;
    }
}

@media (prefers-color-scheme: dark) {
	a {
		color: $primary-dark;

		&:hover,
		&:focus {
			color: $primary-dark;
			outline: none;
		}
	}
}

.gradient-bar-ya-ya-yah {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, 
		var(--grad-yellow), 
		var(--grad-orange), 
		var(--grad-red), 
		var(--grad-purple), 
		var(--grad-blue-1), 
		var(--grad-blue-2));
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
}