---
import Layout from '../layouts/Layout.astro'
const randomInRange = (min, max) => Math.round(Math.random() * (max - min) + min);
const randomInArray = (array) => array[randomInRange(0, array.length - 1)];
const title = "404 - Page Not Found"
import '../globals.scss'
const mistakes = [
	"Blunder",
	"Mistake",
	"Error",
	"Fault",
	"Inaccuracy",
	"Omission",
	"Slip",
	"Slip-up",
	"Miscalculation",
	"Misunderstanding",
	"Flaw",
	"Oversight",
	"Fallacy",
]
const icons = [
	"cone",
	"cone-striped",
	"dash-circle",
	"dash-circle-dotted",
	"dash-circle-fill",
	"dash-square",
	"dash-square-dotted",
	"exclamation-triangle",
	"exclamation-triangle-fill",
	"exclamation",
	"exclamation-circle",
	"exclamation-diamond",
	"exclamation-diamond-fill",
	"exclamation-lg",
	"exclamation-octagon",
	"exclamation-octagon-fill",
	"exclamation-square",
	"exclamation-square-fill",
	"hand-thumbs-down",
	"emoji-frown"
]
---
<Layout title="404 not found!!!" description="nope, we cant find da page">
	<div class='flex content-center justify-center p-4 text-9xl text-red-600'>
		<i class={`bi bi-${randomInArray(icons)}`}></i>
	</div>
	<div class='flex content-center justify-center p-4 text-9xl text-red-600'>
		<h2 class='text-center font-bold text-4xl text-red-600'>{randomInArray(mistakes)}!!!</h2>
	</div>
	<div class='flex content-center justify-center p-4'>
		<a href="/" class="btn btn-danger">Go Home</a>
	</div>
</Layout>