---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero'
---

<Layout title="Home">
	<main class="dark:bg-black dark:text-white">
		<Hero client:idle />
	</main>
</Layout>

<style>

</style>
