---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero'
import BsAlert from '../components/bsAlert.svelte';
---

<Layout title="Home">
	<main class="">
		<Hero client:idle />
	</main>
</Layout>

<style>

</style>
