---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero'
import BsAlert from '../components/bsAlert.svelte';
---

<Layout title="Home">
	<main class="">
		<div class="p-4">
			<BsAlert icon='hospital' type='primary' text='Support a close friend of mine in her mission to end childhood cancer.' actionText='Give Now' actionLink='https://www.shellsofhopenj.org/' client:visible />
		</div>
		<Hero client:idle />
	</main>
</Layout>

<style>

</style>
