---
import Layout from '../layouts/Layout.astro';
import ResumeContent from '../components/ryan-mullin-resume.jsx';
---

<Layout title="Resume">
  <main class="prose prose-lg dark:prose-invert mx-auto py-8 px-4 sm:px-6 lg:px-8">
      <ResumeContent />
  </main>
</Layout>
